<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
    <h1>Магазин техніки для дому</h1>
    <ul>
        <li><a href="{% url 'kitchen' %}">Кухонна техніка</a></li>
        <li><a href="{% url 'cleaning' %}">Техніка для прибирання</a></li>
        <li><a href="{% url 'climate' %}">Кліматична техніка</a></li>
        <li><a href="{% url 'entertainment' %}">Техніка для розваг</a></li>
        <li><a href="{% url 'personal' %}">Персональна техніка</a></li>
    </ul>
</body>
</html>